---
import { ClientRouter } from 'astro:transitions';
import "@/styles/global.css";

interface Props {
    title: string;
    description?: string;
    image?: string;
}

const { title, description="Nuestro blog de Astro", image="/assets/blog-placeholder-1.jpg" } = Astro.props;

// Para obtener la URL canónica, necesitamos la URL de la página actual y la URL del sitio.
const canonicalURL =  new URL(Astro.url.pathname, Astro.site) 
/*
En astro.config.msj se debe agregar el site
export default defineConfig({
    site:"https://localhost:4321", <-- Aquí va la URL de tu sitio
    integrations: [tailwind(), icon({
        include: {
            lucide: ["*"]
        }
    })]
});
*/

---

<head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- Font Preloads -->
    <link rel="preload" href="/fonts/ProductSans-Bold.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="/fonts/ProductSans-Light.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="/fonts/ProductSans-Medium.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="/fonts/ProductSans-Regular.woff" as="font" type="font/woff" crossorigin />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} /> <!-- en la imagen debe ir la url entera -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} /> <!-- en la imagen debe ir la url entera -->

    <!-- Transition -->
    <ClientRouter />
</head>